<template name="header">
<div class="row  header">
		<div class="col-sm-10">
			<a href="/" style="color:white"> Meteors Social Network</a>
		</div>
		<div class="col-sm-2">
			{{#if currentUser}}
			<a class="btn btn-success logout"  style="color:white"> Logout</a>
			{{else}}
			<a class="btn btn-success" href="{{pathFor route='login'}}" style="color:white"> Login</a>
			<a class="btn btn-success" href="{{pathFor route='register'}}" style="color:white"> Register</a>
			{{/if}}
		</div>
	</div>
</template>